{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <h1>Email.Cloud IOC API Management</h1>
    <p>This application allows you to manage indicators of compromise (IOC) in your Email.Cloud tenant.</p>
    <div class="alert alert-warning" role="alert">This is a beta version, do not use on production environments (yet)!</div>
    <p>This application is developed by <a href="https://www.linkedin.com/in/henkva/">Henk van Achterberg</a>
        and the latest version can be found <a href="https://github.com/coolhva/ecapi">here</a>.</p>
{% endblock %}
