{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <h1>Email.Cloud IOC API Management</h1>
    <p>This application allows you to manage indicators of compromise (IOC) in your Email.Cloud tenant.</p>
    <form class="form-inline">
        <div class="form-group mb-2">
            <select id="domainname" class="form-control form-control-sm">
                <option>Global</option>
                {% for domain in current_user.domains %}
                <option>{{ domain.domainname }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <button type="button" id="downloadbutton" class="btn btn-primary" onclick="javascript:downloadIOC(document.getElementById('domainname').value)">Retrieve IOC</button>
        </div>
    </form>
    <div id="iocs">

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function imgurl(img, data, title, size=32) {
            return '<img src="/static/' + img + '" alt="' + data + '"height="' + size + '" title="' + title + '" />'
        }

        function downloadIOC(domainname) {
            $('#downloadbutton').attr('disabled','disabled');
            $('#iocs').html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/ioc/download/' + domainname.toLowerCase(), {
            }).done(function(response) {
                if(response['status_code']==200) {
                    $('#iocs').html(response['html']);
                    $('#ioctable').DataTable({
                        order: [4, 'asc'],
                        columnDefs: [
                            {
                                targets: 0,
                                visible: false,
                                orderable: false
                            },
                            {
                                targets: 1,
                                visible: false,
                                orderable: false
                            },
                            {
                                targets: 2,
                                render: function (data, type, row) {
                                    switch(data) {
                                        case "Active":
                                            return imgurl('active.svg',data,'Active');
                                        default:
                                        return imgurl('inactive.svg',data,'Inactive');
                                    }
                                },
                                orderable: false
                            },
                            {
                                targets: 3,
                                render: function (data, type, row) {
                                    switch(data) {
                                        case "I":
                                            img='inbound.svg';
                                            return imgurl(img,data,'Inbound');
                                        case "O":
                                            img='outbound.svg';
                                            return imgurl(img,data,'Outbound');
                                        case "B":
                                            img='bidirectional.svg';
                                            return imgurl(img,data,'Both');
                                        default:
                                            return '';
                                    }
                                },
                                orderable: false
                            },
                            {
                                targets: 7,
                                render: function (data, type, row) {
                                    switch(data) {
                                        case "B":
                                            img='block_delete.svg';
                                            return imgurl(img,data,'Block & Delete');
                                        case "Q":
                                            img='quarantine.svg';
                                            return imgurl(img,data,'Quarantine');
                                        case "M":
                                            img='redirect.svg';
                                            return imgurl(img,data,'Redirect');
                                        case "T":
                                            img='tagsubject.svg';
                                            return imgurl(img,data,'Tag Subject');
                                        case "H":
                                            img='appendheader.svg';
                                            return imgurl(img,data,'Append Header');
                                        default:
                                            return '';
                                    }
                                },
                                orderable: false
                            },
                            { 
                                targets: 9,
                                data: null,
                                defaultContent: '<a class="delete" href="#"><img src="/static/action_delete.svg" height="32"></a>',
                                orderable: false 
                            }
                        ]
                    });
                    
                    $('#ioctable tbody').on( 'click', '.delete', function () {
                        var table= $("#ioctable").DataTable();
                        var row = table.row( $(this).parents('tr') );
                        var data = table.row( $(this).parents('tr') ).data();
                        var ioc = new IOC(data[0],data[1],data[4],data[5],data[6],data[3],data[7]);

                        $.ajax({
                            url: '/ioc/delete',
                            method: 'POST',
                            contentType:"application/json; charset=utf-8",
                            dataType:"json",
                            data: JSON.stringify(ioc)
                        }).done(function(response) {
                            if(response['status_code']=='200') {
                                row.remove().draw();
                            } else {
                                showAlert('danger','ERROR ' + response['status_code'],response['error_message']);
                            }
                        }).fail(function() {
                            alert('Unable to remove this IOC')
                            showAlert('danger','UNKNOWN ERROR','Unable to remove this IOC');
                        });
                    } );

                    flask_moment_render_all();
                } else {
                    showAlert('danger','ERROR ' + response['status_code'],response['error_message']);
                }
            }).fail(function() {
                showAlert('danger','UNKNOWN ERROR','Unable to load the IOC');
            });
            $('#downloadbutton').removeAttr('disabled');
        }

        function IOC(iocDomain, iocBlackListId, iocType, iocValue, description, emailDirection, remediationAction) {
            this.iocDomain = iocDomain,
            this.iocBlackListId = iocBlackListId, 
            this.iocType = iocType, 
            this.iocValue = iocValue, 
            this.description = description, 
            this.emailDirection = emailDirection, 
            this.remediationAction = remediationAction
        }
    </script>
{% endblock %}