{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block styles %}
    {{ super() }}
    <style>
        .iocedit {
            cursor: pointer;
        }
        .iocfilterlabel {
            padding-right: 0.25rem;
            padding-left: 0.25rem;
        }
    </style>
{% endblock %}

{% block app_content %}
    <h1>IOC Management</h1>
    <p>This application allows you to manage indicators of compromise (IOC) in your Email.Cloud tenant.</p>
    <div class="row">
        <div class="col-9">
            <form class="form-inline">
                <div class="form-group mb-2">
                    <select id="domainname">
                        <option value="global">Global</option>
                        {% for domain in current_user.domains %}
                        <option value="{{ domain.domainname.lower() }}">{{ domain.domainname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <button type="button" id="downloadbutton" class="btn btn-primary" onclick="javascript:downloadIOC(document.getElementById('domainname').value)">Show IOC's</button>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <button type="button" id="exportcsvbutton" class="btn btn-primary" onclick="javascript:exportIOC(document.getElementById('domainname').value,'csv')">Export CSV</button>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <button type="button" id="exportjsonbutton" class="btn btn-primary" onclick="javascript:exportIOC(document.getElementById('domainname').value,'json')">Export JSON</button>
                </div>
            </form>
        </div>
        <div class="col-3">
            <form class="form-inline float-right">
                <div class="form-group mx-sm-1 mb-2">
                    <button type="button" id="renewiocbutton" class="btn btn-warning" onclick="javascript:renewIOC(document.getElementById('domainname').value)">Renew IOC's</button>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <button type="button" id="addiocbutton" class="btn btn-success" onclick="javascript:ShowIOCForm()">Add IOC</button>
                </div>
            </form>
        </div>
    </div>
    <div id="add_ioc_form" {% if form.iocValue.data == None %} style="display: none;"{% endif %}>
            <hr />
            {{ wtf.render_form(form, id="IOCForm", form_type="horizontal") }}
    </div>
    <div id="iocs">

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

        var domSetup = "<'row'<'col-sm-12 col-md-4'l><'col-sm-12 col-md-8'f>>" +
                       "<'row'<'col-sm-12'tr>>" +
                       "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"

        function imgurl(img, data, title, size=32) {
            return '<img src="/static/' + img + '" alt="' + data + '"height="' + size + '" title="' + title + '" />'
        }

        function exportIOC(domainname, filetype) {
            window.location.href = '/ioc/export/' + filetype + '/' + domainname;
        }

        function renewIOC(domainname) {
            window.location.href = '/ioc/renew/' + domainname;
        }

        function ShowIOCForm() {
            document.getElementById('add_ioc_form').style='display: inherit'
            $('#addiocbutton').attr('disabled','disabled');
        }

        function downloadIOC(domainname) {
            $('#downloadbutton').attr('disabled','disabled');
            $('#iocs').html('<img src="{{ url_for("static", filename="loading.gif") }}">');
            $.post('/ioc/download/' + domainname.toLowerCase(), {
            }).done(function(response) {
                if(response['status_code']==200) {
                    $('#iocs').html(response['html']);
                    
                    $('#ioctable').DataTable({
                        initComplete: function () {
                            this.api().columns(4).every( function () {
                                if (this.selector.cols==4) {
                                    $('#ioctable_filter').append('<span class="iocfilterlabel">Type:</span>');
                                    var column = this;
                                    var select = $('<select><option value="">All</option></select>')
                                        .appendTo( $('#ioctable_filter') )
                                        .on( 'change', function () {
                                            var val = $.fn.dataTable.util.escapeRegex(
                                                $(this).val()
                                            );
                    
                                            column
                                                .search( val ? '^'+val+'$' : '', true, false )
                                                .draw();
                                        } );
                    
                                    column.data().unique().sort().each( function ( d, j ) {
                                        select.append( '<option value="'+d+'">'+d+'</option>' )
                                    } );
                                }
                            } );
                        },
                        order: [4, 'asc'],
                        columnDefs: [
                            {
                                targets: 0,
                                visible: false,
                                orderable: false
                            },
                            {
                                targets: 1,
                                visible: false,
                                orderable: false
                            },
                            {
                                targets: 2,
                                render: function (data, type, row) {
                                    switch(data) {
                                        case "Active":
                                            return imgurl('active.svg',data,'Active');
                                        default:
                                        return imgurl('inactive.svg',data,'Inactive');
                                    }
                                },
                                orderable: false
                            },
                            {
                                targets: 3,
                                render: function (data, type, row) {
                                    switch(data) {
                                        case "I":
                                            img='inbound.svg';
                                            return imgurl(img,data,'Inbound');
                                        case "O":
                                            img='outbound.svg';
                                            return imgurl(img,data,'Outbound');
                                        case "B":
                                            img='bidirectional.svg';
                                            return imgurl(img,data,'Both');
                                        default:
                                            return '';
                                    }
                                },
                                orderable: false
                            },
                            {
                                targets: 5,
                                className: 'iocedit'
                            },
                            {
                                targets: 7,
                                render: function (data, type, row) {
                                    switch(data) {
                                        case "B":
                                            img='block_delete.svg';
                                            return imgurl(img,data,'Block & Delete');
                                        case "Q":
                                            img='quarantine.svg';
                                            return imgurl(img,data,'Quarantine');
                                        case "M":
                                            img='redirect.svg';
                                            return imgurl(img,data,'Redirect');
                                        case "T":
                                            img='tagsubject.svg';
                                            return imgurl(img,data,'Tag Subject');
                                        case "H":
                                            img='appendheader.svg';
                                            return imgurl(img,data,'Append Header');
                                        default:
                                            return '';
                                    }
                                },
                                orderable: false
                            },
                            { 
                                targets: 9,
                                data: null,
                                defaultContent: '<a class="delete" href="#"><img src="/static/action_delete.svg" height="32"></a>',
                                orderable: false 
                            }
                        ],
                        'dom': domSetup,
                        'drawCallback': function( settings ) {
                            flask_moment_render_all();
                        }
                    });
                    
                    $('#ioctable tbody').on( 'click', '.delete', function () {
                        var table= $("#ioctable").DataTable();
                        var row = table.row( $(this).parents('tr') );
                        var data = table.row( $(this).parents('tr') ).data();
                        var ioc = new IOC(data[0],data[1],data[4],data[5],data[6],data[3],data[7]);

                        $.ajax({
                            url: '/ioc/delete',
                            method: 'POST',
                            contentType:"application/json; charset=utf-8",
                            dataType:"json",
                            data: JSON.stringify(ioc)
                        }).done(function(response) {
                            if(response['status_code']=='200') {
                                row.remove().draw();
                            } else {
                                showAlert('danger','ERROR ' + response['status_code'],response['error_message']);
                            }
                        }).fail(function() {
                            showAlert('danger','UNKNOWN ERROR','Unable to remove this IOC');
                        });
                    } );

                    $('#ioctable tbody').on( 'click', '.iocedit', function () {
                        var table= $("#ioctable").DataTable();
                        var row = table.row( $(this).parents('tr') );
                        var data = table.row( $(this).parents('tr') ).data();
                        var ioc = new IOC(data[0],data[1],data[4],data[5],data[6],data[3],data[7]);

                        document.forms['IOCForm']['iocBlackListId'].value = ioc.iocBlackListId;
                        document.forms['IOCForm']['domain'].value = ioc.iocDomain;
                        document.forms['IOCForm']['iocType'].value = ioc.iocType;
                        document.forms['IOCForm']['iocValue'].value = ioc.iocValue;
                        document.forms['IOCForm']['description'].value = ioc.description;
                        document.forms['IOCForm']['emailDirection'].value = ioc.emailDirection;
                        document.forms['IOCForm']['remediationAction'].value = ioc.remediationAction;
                        document.forms['IOCForm']['submit'].value = 'Update';
                        
                        $('select').selectpicker('refresh');
                        $('#addiocbutton').attr('disabled','disabled');
                        document.getElementById('add_ioc_form').style='display: inherit';
                    } );

                    $('select').selectpicker();

                    flask_moment_render_all();
                } else {
                    $('#iocs').html('');
                    showAlert('danger','ERROR ' + response['status_code'],response['error_message']);
                }
            }).fail(function() {
                $('#iocs').html('');
                showAlert('danger','UNKNOWN ERROR','Unable to load the IOC');
            });
            $('#downloadbutton').removeAttr('disabled');
        }

        function IOC(iocDomain, iocBlackListId, iocType, iocValue, description, emailDirection, remediationAction) {
            this.iocDomain = iocDomain,
            this.iocBlackListId = iocBlackListId, 
            this.iocType = iocType, 
            this.iocValue = iocValue, 
            this.description = description, 
            this.emailDirection = emailDirection, 
            this.remediationAction = remediationAction
        }
    </script>
{% endblock %}